

/* button */
.fine-normsp{
    border: 1px solid var(--black-main-clr);
    background-color: var(--black-main-clr);
    padding: 10px 40px;
    transition: var(--trans-normsp);
}
.fine-normsp:hover{
    border: 1px solid var(--black-main-clr);
    background-color: transparent;
}
.fine-normsp:hover .link-def{
    color: var(--black-main-clr);
}
.alter-normsp{
    border: 1px solid var(--light-main-clr);
    background-color: var(--light-main-clr);
    padding: 10px 40px;
    transition: var(--trans-normsp);
}
.alter-normsp:hover{
    border: 1px solid var(--light-main-clr) ;
    background-color: transparent;
}
.alter-normsp:hover .link-def-blc{
    color: var(--light-main-clr);
}
/* end */

/* track-in-expand */
.track-in-expand{
    animation: tracking-in-expand 1600ms cubic-bezier(0.215, 0.610, 0.355, 1.000) both; 
}
@keyframes tracking-in-expand {
    0% {
        letter-spacing: -4rem;
        opacity: 0;
    }
    40% {
        opacity: 0.6;
    }
    100% {
        opacity: 1;
    }
}
/* end here */

/* opacity min */
.navitem:hover,
.icons:hover,
.headitem-ser:hover{
    opacity: 0.6;
    transition: var(--trans-normsp);
}
/* end here */

/* border - anim */
@keyframes borderline{
    0%{
        border-block-end: 1px solid white;
        padding-inline: 0px;
    }
    100%{
        border-block-end: 1px solid white;
        padding-inline: 12%;
    }
}
.navitem a:hover{
    animation: borderline 300ms ease forwards; 
}
/* end here */

/* color-backgr - anim */
@keyframes color-backgr{
    0%{
        background: linear-gradient(120deg, red 50% left, white 50%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    100%{
        background: linear-gradient(120deg, white 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
}
/* end here */
/* line - jalan */
@keyframes linejalan{
    0%{
        width: 0px;
    }
    100%{
        width: 80%;
    }
}
.hori1,
.hori2{
    animation: linejalan 2400ms cubic-bezier(0.215, 0.610, 0.355, 1.000) both; 
}
/* end here */

/* gif - kinder joy suprise */
span{
    position: relative;
    margin-left: 10px;
    border-bottom: 1px dashed var(--light-alt-main-clr);
}
span::before{
    visibility: hidden;
    position: absolute;
    content: "";
    background-image:url(image/elmo-fire.gif);
    background-size: 100% 100%;  
    height: 100%;
    width: 100%;
    z-index: 9999;
    inset: 0;
    margin: auto;
}
span:hover::before{
    visibility: visible;
}
/* end here */