/* css reset - all right goes to meyer Erik A. Meyer */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* end here */

/* default and root */
:root{
    font-size: 10px;
    --logo-font: 'Expletus Sans', cursive;
    --link-font: 'kreon', serif;
    --main-font: 'Roboto', sans-serif;
	--head-font: 'Phudu', cursive;
    --black-main-clr: #050404;
    --black-alt-main-clr: rgba(43, 42, 42, 0.6);
    --light-main-clr: #fff;
    --light-alt-main-clr: #b4acac;
    --yellow-main-clr: #FFE81F;
	--trans-slosp: all 500ms;
	--trans-normsp: all 300ms;
	--trans-fast-sp: all 200ms;
}
::-webkit-scrollbar {
	width: 5px;
}
::-webkit-scrollbar-track {
	background: var(--black-alt-main-clr);
}
::-webkit-scrollbar-thumb {
	background: var(--light-alt-main-clr);
}
::-webkit-scrollbar-thumb:hover {
	background: var(--light-main-clr);
}
::selection {
	color: var(--black-main-clr);
	background: var(--light-main-clr);
}
.flex-row{
	display: flex;
	flex-direction: row;
}
.flex-row-full{
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}
.flex-column{
	display: flex;
	flex-direction: column;
}
.flex-column-full{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
body{
	background-color: var(--black-main-clr);
}
.link-def,
.link-def-blc{
	text-decoration: none;
	transition: var(--transit-fastsp);
	font-family: var(--link-font);
	font-size: 1.6rem;
}
.link-def{color: var(--light-main-clr);}
.link-def-blc{color: var(--black-main-clr);}
hr{
	border: none;
    background-color: var(--light-main-clr);
    height: 1px;
}
.icons-small{
	font-size: 1.2rem;
	color: var(--light-main-clr);
}
.icons-med{
	font-size: 2.2rem;
	color: var(--light-main-clr);
}
.icons-big{
	font-size: 3.2rem;
	color: var(--light-main-clr);
}
.icons-large{
	font-size: 4.2rem;
	color: var(--light-main-clr);
}
/* end here */

/* text style */
.text-parag-def{
	font-family: var(--main-font);
	color: var(--light-main-clr);
	font-size: 150%;
}
.text-head-def{
	font-family: var(--head-font);
	color: var(--light-main-clr);
	font-size: 300%;
}
.text-subhead-def{
	font-family: var(--head-font);
	color: var(--light-main-clr);
	font-size: 200%;
}
/* end here */

/* division | well, contradiction*/
/* .hori2{
	margin: 1rem 0px ;
} */
/* end here */

/* header */
header{
    height: 18vh;
	justify-content: space-between;
	padding: 2vh 8%;
}
.icons-header-list1{
	margin-right: 2rem;
}
.icons-header-list2{
	margin:0px 0.5rem 0px 1.5rem;
}
.logo{
	text-decoration: none;
	align-self: center;
	font-family: var(--logo-font);
	font-size: 6rem;
	color: var(--light-main-clr);
}
.headitem-ser a:nth-child(2){
	align-self: center;
}
.headlist1{
	border-right: 1px solid var(--light-alt-main-clr);
	margin:0px 0px auto;
}
.headlist2{
	border-left: 1px solid var(--light-alt-main-clr);
	margin:0px 0px auto;
}
/* end here */

/* navigation */
.navlist{
    justify-content: space-evenly;
    align-items: center;
    width: 85%;
}
.navitem{
	text-align: center;
	width: 100%;
}
.hori1{
	margin: 1rem 0px;
}
/* end here */

/* modal | video-embeded*/
.modal{
	visibility: hidden;
	position: fixed;
	background-color: rgba(0, 0, 0, 0.6);
	inset: 0;
	width: 100%;
	height: 100%;
	z-index: 999;
}
.video-embed{
	width: 60%;
	aspect-ratio: 16 / 9;
}
.back{
	color: var(--light-main-clr);
	font-size: 500%;
}
#video-stell-1:target{
	visibility: visible;
}
#video-stell-2:target {
	visibility: visible;
}
#video-stell-3:target {
	visibility: visible;
}
#video-stell-4:target {
	visibility: visible;
}


/* end here */