/* css reset - all right goes to meyer Erik A. Meyer */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* end here */

/* default and root */
:root{
    font-size: 10px;
    --logo-font: 'Expletus Sans', cursive;
    --link-font: 'kreon', serif;
    --main-font: 'Roboto', sans-serif;
	--head-font: 'Phudu', cursive;
    --black-main-clr: #050404;
    --black-alt-main-clr: rgba(43, 42, 42, 0.6);
    --light-main-clr: #fff;
    --light-alt-main-clr: rgba(255, 255, 255, 0.3);
    --yellow-main-clr: #FFE81F;
	--trans-slosp: all 500ms;
	--trans-normsp: all 300ms;
	--trans-fast-sp: all 200ms;
}
::-webkit-scrollbar {
	width: 5px;
	height: 5px;
}
::-webkit-scrollbar-track {
	background: var(--black-alt-main-clr);
}
::-webkit-scrollbar-thumb {
	background: var(--light-alt-main-clr);
}
::selection {
	color: var(--black-main-clr);
	background: var(--light-main-clr);
}
.flex-row{
	display: flex;
	flex-direction: row;
}
.flex-row-full{
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}
.flex-column{
	display: flex;
	flex-direction: column;
}
.flex-column-full{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
body{
	background-color: var(--black-main-clr);
}
.link-def,
.link-def-blc{
	text-decoration: none;
	transition: var(--transit-fastsp);
	font-family: var(--link-font);
	font-size: 1.6rem;
}
.link-def{color: var(--light-main-clr);}
.link-def-blc{color: var(--black-main-clr);}
.hori2{
	width: 94%;
	border: none;
    height: 1px;
	margin: 1rem auto;
    background-color: var(--light-main-clr);
}
.hori3{
	border: none;
    height: 2px;
	width: 30%;
	background-color: var(--light-main-clr);
}
.icons-small{
	font-size: 1.2rem;
	color: var(--light-main-clr);
}
.icons-med{
	font-size: 2.2rem;
	color: var(--light-main-clr);
}
.icons-big{
	font-size: 3.2rem;
	color: var(--light-main-clr);
}
.icons-large{
	font-size: 4.2rem;
	color: var(--light-main-clr);
}
/* end here */

/* text style */
.text-parag-def{
	font-family: var(--main-font);
	color: var(--light-main-clr);
	font-size: 1.5rem;
	line-height: 1.3;
}
.text-head-def{
	font-family: var(--head-font);
	color: var(--light-main-clr);
	font-size: 3rem;
}
.text-subhead-def{
	font-family: var(--head-font);
	color: var(--light-main-clr);
	font-size: 2rem;
}
.text-parag-def-blc{
	font-family: var(--main-font);
	color: var(--black-main-clr);
	font-size: 1.5rem;
}
.text-head-def-blc{
	font-family: var(--head-font);
	color: var(--black-main-clr);
	font-size: 3rem;
}
.text-subhead-def-blc{
	font-family: var(--head-font);
	color: var(--black-main-clr);
	font-size: 2rem;
}
/* end here */

/* header */
header{
    height: 18vh;
	justify-content: space-between;
	padding: 2vh 8%;
}
.icons-header-list1{
	margin-right: 2rem;
}
.icons-header-list2{
	margin:0px 0.5rem 0px 1.5rem;
}
.logo{
	text-decoration: none;
	align-self: center;
	font-family: var(--logo-font);
	font-size: 6rem;
	color: var(--light-main-clr);
}
.headitem-ser a:nth-child(2){
	align-self: center;
}
.headlist1{
	border-right: 1px solid var(--light-alt-main-clr);
	margin:0px 0px auto;
}
.headlist2{
	border-left: 1px solid var(--light-alt-main-clr);
	margin:0px 0px auto;
}
/* end here */

/* navigation */
nav{
	padding-inline: 8%;
}
.navlist{
    justify-content: space-evenly;
    align-items: center;
    width: 85%;
}
.navitem{
	text-align: center;
	width: 100%;
}
.hori1{
	border: none;
    height: 1px;
	margin: 1rem 0px;
    background-color: var(--light-main-clr);
}
/* end here */

/* modal | video-embeded*/
.modal{
	visibility: hidden;
	position: fixed;
	background-color: rgba(0, 0, 0, 0.6);
	inset: 0;
	width: 100%;
	height: 100%;
	z-index: 999;
}
.video-embed{
	width: 60%;
	aspect-ratio: 16 / 9;
}
.back{
	color: var(--light-main-clr);
	font-size: 500%;
}
#video-stell-1:target{
	visibility: visible;
}
#video-stell-2:target {
	visibility: visible;
}
#video-stell-3:target {
	visibility: visible;
}
#video-stell-4:target {
	visibility: visible;
}
/* end here */

/* footer | alpha */
footer{
	display: grid;
	grid-template-areas: 
	"orion-star orion-star orion-star"
	"baltazar gift melkior"
	"casper casper casper"
	;
	height: 50vh;
	padding-inline: 3vw;
}
.orion-star{
	grid-area: orion-star;
}
.baltazar{
	gap: 6rem;
	grid-area: baltazar;
	place-self: center start;
}
.baltazar div{
	gap: 1rem;
}
.baltazar p{
	padding-bottom: .5rem;
	border-bottom: 1px solid var(--light-main-clr);
	margin-bottom: 1rem;
	font-size: 2rem;
}
.social-med{
	grid-area: gift;
	width: 25%;
	height: fit-content;
	place-self: center;
	flex-wrap: wrap;
	gap: 1.5rem;
}
.social-med a{
	width: fit-content;
}
.social-med a ion-icon{
	border-radius: 15px;
	padding: .5rem;
	transition: var(--trans-normsp);
}
.logo-com-1:hover{background-color: rgb(209, 5, 5); rotate: 180deg;}
.logo-com-2:hover{background-color: #00acee ;}
.logo-com-3:hover{background-color: rgb(32, 33, 34);}
.logo-com-4:hover{background-color: rgb(112, 1, 177);}
.logo-com-5:hover{background-color: rgb(209, 5, 124);}
.melkior{
	grid-area: melkior;
	place-self: center end;
	background-color: var(--light-alt-main-clr);
	width: 25vw;
	gap: .2rem;
	padding-block-end: 1rem;
	border-radius: 1rem;
}
.melkior > :first-child{
	border-radius: 1rem 1rem 0px 0px;
	width: 100%;
	aspect-ratio: 2 / 1;
	text-align: center;
	border: none;
}
.melkior > :last-child{
	margin-top: 2px;
}
.casper{
	margin-top: 5vh;
	border-top: 1px solid var(--light-main-clr);
	padding-block: 1rem;
	gap: 1rem;
	grid-area: casper;
}
.casper p{
	margin-right: auto;
}
.casper a{
	border-left: 2px solid var(--light-main-clr);
	padding-left: 1rem;
}



