/* hero-image, section 1 */
.hero-image{
    background: url("image/space-bck3.jpg") no-repeat fixed;
    background-position: center;
    background-size: cover;
    height: 100vh;
    position: relative;
    gap: 40px;
}
.head-parag-hero{
    text-align: center;
}
.parag-hero{
    text-align: center;
    margin-inline: 17vw;
}
span{
    position: relative;
    margin-left: 10px;
    border-bottom: 1px dashed var(--light-alt-main-clr);
}
span::before{
    visibility: hidden;
    position: absolute;
    content: "";
    background-image:url(image/elmo-fire.gif);
    background-size: 100% 100%;  
    height: 100%;
    width: 100%;
    z-index: 9999;
    inset: 0;
    margin: auto;
}
span:hover::before{
    visibility: visible;
}
.button-excel button{
    margin: 0px 10px 0px;
}
.collateral{
    padding-block: .5vh;
    justify-content: center;
    position: absolute;
    bottom: 0;
}
.coitem{
    opacity: 0.8;
    margin-inline: .4vw;
    aspect-ratio: 22 / 11;
    background-position: center;
    background-size: cover;
}
.coitem p{
    align-self: center;
    padding-inline: 10px;
    font-size: 1.4rem;
}
.collateral-child-1{
    background-image: url(image/star_wars_1.jpg);
}
.collateral-child-2{
    background-image: url(image/star_wars_2.jpg);
}
.collateral-child-3{
    background-image: url(image/star_wars_3.jpg);
}
/* end here */

/* villain-image, section 2 */
.villain-image{
    background: url("image/white-bck.jpg") no-repeat fixed;
    background-position: center;
    background-size: cover;
    height: 100vh;
    padding-inline: 2vw;
    align-items: flex-start;
    justify-content: space-evenly;
}
.villain-motive{
    text-align: center;
    width: 40%;
    gap: 1rem;
}
.head-parag-villain{
    font-size: 4rem;
}
.parag-villain{
    margin-inline: 10px;
}
.villain-motive button{
    align-self: center;
}






/* end here */